includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    tmpDir: .phpstan.cache
    paths:
        - app
        - bootstrap
        - database
        - routes

    # Level 10 is the highest level
    level: 7

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
